.timeslots-container ul,
.message {
    display: flex;
    border: 2px dashed #A9A9A9;
}

.timeslots-container ul {
    padding: .8rem;
    gap: 1.5rem;
    max-height: 23.5rem;
    flex-wrap: wrap;
    border-radius: 8px;
    overflow: hidden auto;
    justify-content: space-between;
}

.timeslots-container ul::-webkit-scrollbar {
    width: .7rem;
}

.timeslots-container ul::-webkit-scrollbar-thumb {
    border-radius: 50px;
}

.timeslots-container ul::-webkit-scrollbar-thumb:hover {
    border: 1px solid var(--color-primary);
}


.message {
    color: #333;
    height: 23rem;
    font-size: 1.7rem;
    padding: .5rem 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}

@media screen and (max-width:58em) {
    .timeslots-container ul {
        justify-content: center;
    }
}